.footer{
    padding: 4rem 6rem;
    background: #000;
    color: #fff;
}
.top{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.top i{
    color: #fff;
    font-size: 2rem;
    margin-left: 1rem;
}
.fa-youtube:hover{
    color: #FF0000;
}
.fa-telegram:hover{
    color: #0088cc;
}
.fa-facebook-f:hover{
    color: #3b5998;
}
.fa-instagram:hover{
    background: hsla(333, 100%, 53%, 1);
    background: linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF0F7B", endColorstr="#F89B29", GradientType=1 );
}
.bottom{
    padding-top: 2rem;
    text-align: start;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.bottom div{
    display: flex;
    flex-direction: column;
}
.bottom h4{
    font-size: 1.4rem;
    padding: 1rem 0 .8rem 0;
}
.bottom a{
    text-decoration: none;
    color: #fafafa;
    padding-bottom: .4rem;
    font-size: 1.1rem;
}
.copyrightd{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    font-weight: 200;
    color: #aaa;
    margin-top: 33px;
}
@media screen and (max-width: 850px) {
    .footer{
        padding: 4rem 2rem;
    }
    .footer i{
        margin: 1rem 1rem 0 0;
    }
    .bottom div{
        width: 50%;
    }
}