img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero{
    width: 100%;
    height: 100vh;
    position: relative;
}
.hero-mid{
    width: 100%;
    height: 70vh;
    position: relative;
}
.hero-mid h1{
    padding-top: 4rem;
    color: #222;
}
.hero-text{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.hero-text h1{
    font-size: 3rem;
    font-weight: 800;
    background: #F1F2B5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #135058, #F1F2B5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #135058, #F1F2B5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: transparent; */
}
.hero-text p{
    font-size: 1.3rem;
    color: #fff;
    font-weight: bold;
    padding: 0.5rem 0 2rem 0;
}
.hero-text .show{
    text-decoration: none;
    background: #fff;
    padding: 1rem 2rem;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: #222;
    white-space: nowrap;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.hero-text .show:hover{
    color: #fff;
    background: #222;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.black{
    color: #222 !important;
}

@media screen and (max-width: 555px) {
    .hero-text h1{
        padding: 10px 20px;
    }
    .hero-text p{
        font-size: 1.1rem;
        padding: 0 0 2rem 0;
    }
    .hero-text .show{
        padding: 0.6rem 1.1rem;
        border-radius: 6px;
        font-size: 1rem;
    }
}