:root{
	--bg-color: #ffffff;
	--text-color: #22100d;
	--second-color: #685f78;
	--main-color: #f66962;
	--big-font: 3.8rem;
	--h2-font: 2.6rem;
	--p-font: 1.1rem;
}
.container-ul{
	padding: 40px 13% 10px 13%;
        padding: 40px 13% 10px 13%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	gap: 1.5rem;
	align-items: center;
	cursor: pointer;
}
.container-box{
	display: flex;
	align-items: center;
	gap: 1.8rem;
	border: 1px solid #e9ecef;
	border-radius: 20px;
	padding: 20px 30px;
	box-shadow: -11.729px -11.729px 32px rgb(255 255 255 / 15%);
	transition: all .40s ease;
}
.container-box:hover{
	transform: translateY(-15px);
}
.container-text h4{
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 4px;
}
.container-text p{
	font-size: var(--p-font);
	color: var(--second-color);
	font-weight: 500;
}

.center-text{
	text-align: center;
}
.center-text h5{
	color: var(--main-color);
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 20px;
}
.center-text h2{
	font-size: var(--h2-font);
	line-height: 1.2;
}
